.future {
  background-image: url(../assets/image/banner2.jpg);
  background-size: cover;
  background-position: center;
  padding: 117.5px 0;

  &-container {
    @include flex-spaceBetween;
  }

  &-box {
    @include flex-align;
    gap: 25px;

    img {
      width: 65px;
    }
  }

  &-text {
    h2 {
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: .2px;
    }

    span {
      color: $gray;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: .4px;
    }
  }
}