.program {
  padding: 80px 0;

  &-title {
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
  }

  &-content {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &-text {
    span {
      color: orange;
      font-size: 1.55rem;
      font-weight: 500;
      letter-spacing: .5px;
      margin-right: 4px;
    }

    a {
      font-size: 1.65rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }
  }

  &-boxes {
    @include grid(4, 30px);
    margin-top: 30px;
  }

  &-name {
    display: block;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: .5px;
    transition: all .2s ease-in-out;

    &:hover {
      color: orangered;
    }
  }
}